<h2>Editing engine</h2>
<%= link_to 'Back', engines_path, :class => "pull-right btn btn-primary btn-lg", :role =>"button" %><br/><br/>
<div class="well well-large">
  <%= render_breadcrumbs %>
  <div class="well well-large alert alert-info">  
   <%= render 'form' %>
  </div>
</div>