<h2>New engine</h2>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Back', session[:url], :class => "pull-right btn btn-primary btn-lg", :role =>"button" %><br/><br/>
    <% else %>
      <%= link_to 'Back', session[:url], :class => "pull-right btn btn-primary btn-lg", :role =>"button"%><br/><br/> 
    <% end %>
  <% end %>
  <div class="well well-small">
    <%= render_breadcrumbs %>
    <div class="well well-small alert alert-info form-small">  
     <%= render 'form' %>
    </div>
  </div>
