<h2>Edit User Information</h2>
<% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Back', users_path, :class=>"pull-right btn btn-primary btn-lg", :role => "button" %><br/><br/>
    <% else %>
      <%= link_to 'Back', root_path, :class=>"pull-right btn btn-primary btn-lg", :role => "button"%><br/><br/>  
    <% end %>
  
<div class="well well-lg">
	<%= render 'form' %>
<div><br/>
<% end %>     
