<h2>Add more vehicles</h2>
<%= link_to "Back", vehicles_path, :class=>"pull-right btn btn-primary", :role => "button"%><br/><br/>
<div class="well well-large">
  <%= render_breadcrumbs%>
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Add more vehicles</a></li>
      <li><a href="#tab2" data-toggle="tab">Deallocate vehicles</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div class="well well-large alert alert-info">
          <h3>Available vehicles :</h3>
          <%= render :partial => "vehicles_available"%>
        </div>
      </div>
      <div class="tab-pane" id="tab2">
        <div class="well well-large alert alert-info">
          <h3>Added vehicles :</h3>
            <%= render :partial => "added_vehicles"%>
        </div>
      </div>
    </div>
  </div>
</div>



