<h2>New vehicle</h2>
<%= link_to 'Back', vehicles_path, :class => "pull-right btn btn-primary btn-lg", :role =>"button" %><br/><br/>

	<div class="well well-lg">
    <%= render_breadcrumbs%>
	  <%= render 'form' %>
	</div>





