/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_validation
 *= 
 *= require_tree .
 */


.login-cover{
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 30%;
}
.container-spacing{
	margin-bottom: 20px;
    margin-top: 34px;
}

body {
	height:700px;
	background-image:url('/assets/space-shuttle.jpg');
	background-repeat:no-repeat;
	background-size: 100%;
}

.master-color{
	background-color: #000000;
}

.container h2 {color:#ffffff;}

label.required:after{content:"*"}

.got_error { color:red; }

.form-cover{
	margin-left:40px;
	margin-top:40px;
}

.form-cover h2 { color:black;}

.block{
	width:100px;
	height:100px;
	float:left;
	padding:20px;
}

.user-options{
	height: 155px;
    padding: 20px;
    width: 96%;
}

.footer{
    width:100%;
	height:80px;
	position:relative;
	bottom:0;
	left:0;
	text-align: center;
	color:#ffffff;
}
.nav-top{
	margin-top:9px;
}

.center-text{
	text-align: center;
}

.correct-image img{
	width:14px;
	height:14px;
}

.thumbnail {
    margin-bottom: 6px;
}

.well {
    overflow: auto;
}

.remember{
	margin-left: 10px;
    margin-top: 4px;
}

.wrapper{
	margin-bottom: 20px;
	min-height: 20px;
	padding: 19px;
	background-color: #F5F5F5;
	border-radius: 29px 29px 29px 29px;
	border-style: solid;
	border-width: 1.3px;
	box-shadow: 10px 10px 5px #413F24;
}

.thumb-back{
	background-color: #FFFFFF;
}