// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.click{
	width:26px;
	height:26px;
}

.user-form{
	margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 40%;
}
